{{extend 'layout.html'}}
<div class="left">

	<h2 class="text-warning">Conditions Générales d'Utilisation</h2>

	<div style="margin-left:10px;margin-right:10px;">

	<div class="text-primary" style="margin-top:40px;">Préambule</div>
	<p class="text-muted" style="text-align:justify;">
	Les présentes Conditions Générales d'Utilisation (ci-après les "CGU") décrivent les termes et conditions dans lesquels le site http://www.evalqcm.fr (ci-après "EvalQCM" ou "le site") et l'auteur (ci-après "l'auteur") fournissent le service à l'utilisateur inscrit ou non (ci-après "l'utilisateur" ou "l'internaute").
	L'accès à ce site est subordonné au respect des présentes CGU. Tout internaute souhaitant y accéder doit avoir pris connaissance préalablement de ces CGU et s'engage à les respecter sans réserve.
	</p>

	<div class="text-primary">Propriété intellectuelle</div>
	<p class="text-muted" style="text-align:justify;">
	Le contenu du site, sauf mention expresse et sections communautaires ("Mes QCM" par exemple), est la propriété exclusive de l'auteur.
	Les contenus des sections communautaires du site peuvent provenir de sources externes (livres, autres sites,...). Dans ces cas là, la source doit accepter l'utilisation faite de ses contenus par le site http://www.evalqcm.fr. L'utilisateur est responsable des contenus qu'il a proposés. En aucun cas, EvalQCM ne pourra être tenu pour responsable si un contenu ajouté par un utilisateur sur le site viole la licence et les règles de publication de la source d'information. EvalQCM s'engage sur simple demande à retirer immédiatement les informations violant une licence de publication.
	L'utilisateur dispose d'un droit de modification, rectification et suppression des données issues de sa contribution. Les sources des informations citées sur le site ne sont en aucun cas liées au site.
	</p>

	<div class="text-primary">Limitations</div>
	<p class="text-muted" style="text-align:justify;">
	EvalQcm fournit un service applicatif permettant la mise en ligne de QCM.
	En dépit du soin apporté à la rédaction du contenu du site, aucune garantie n'est apportée quant à la fiabilité des informations. L'auteur décline toute responsabilité en cas d'erreur de contenu, et à l'utilisation qu'en fait l'utilisateur. En cas d'erreur dans le contenu, l'utilisateur est cordialement invité à faire part de ses remarques à l'auteur, par exemple en utilisant le formulaire de contact. Si l'erreur est avérée, l'auteur s'engage à corriger le contenu en accord avec les propositions de l'utilisateur.
	L'utilisateur fait usage de ses propres moyens pour accéder au site et à son contenu. En particulier, équipement informatique et connexion internet sont à sa charge. La compatibilité du site avec les ressources matérielles et logicielles de l'utilisateur ne sont pas garanties. Dans la mesure du possible, les pages web sont conçues dans le respect des standards du W3C. L'auteur se réserve le droit de supprimer tout ou partie du contenu du site, sans autre formalité.
	</p>

	<div class="text-primary">Confidentialité et vie privée</div>
	<p class="text-muted" style="text-align:justify;">
	Les informations collectées par le site sont nécessaires à son bon fonctionnement et permettent à ses utilisateurs de bénéficier d'informations et de contenus adaptés. Ces informations sont destinées à l'usage exclusif d'EvalQCM, et ne seront pas communiquées à ses partenaires.
	Ce site a été déclaré à la CNIL sous le numéro 1538697. Conformément à la loi "informatique et libertés" du 6 janvier 1978 modifiée en 2004, l'utilisateur dispose d'un droit d'accès, de modification, de rectification et de suppression des données qui le concernent. Il peut, à tout moment, demander que son compte ainsi que ses contributions au site soient supprimées. Ce droit peut être exercé en utilisant le formulaire de contact à disposition sur le site. EvalQCM utilise des outils de traçabilité de visite. Cette traçabilité est utilisée à des fins statistiques et non commerciales.
	L'utilisateur est conscient du risque inhérent à internet et ne pourra tenir pour responsable le site en cas de vol ou d'altération par un tiers des données concernant l'utilisateur. De son côté, EvalQCM s'engage à sécuriser au maximum les données fournies par l'utilisateur. De plus, EvalQCM s'engage à ne jamais transmettre à des tiers les données fournies par les utilisateurs.
	La connexion via Facebook permet à l'utilisateur de créer rapidement un compte. Nous enregistrons le minimum de données Facebook pour que toutes les fonctionnalités d'EvalQCM soient disponibles. Les rubriques concernées sont l'identifiant, le nom, le prénom, la ville, la date de naissance, l'email et l'avatar. Celui-ci est visible sur EvalQCM uniquement si l'utilisateur le décide.
	</p>

	<div class="text-primary">Respect de la Netiquette</div>
	<p class="text-muted" style="text-align:justify;">
	La Netiquette est un code de bonne conduite élaboré par la communauté des internautes. L'utilisateur est informé que son non respect peut provoquer à son encontre des réactions de la part d'autres utilisateurs pour lesquelles EvalQCM ne pourra être tenu responsable. De plus, EvalQCM pourra banir un utilisateur du service en cas de non respect de la netiquette. Pour en savoir plus sur la Netiquette : <a class="evalink" href="http://www.afa-france.com/netiquette.html">http://www.afa-france.com/netiquette.html</a>, <a class="evalink" href="http://www.afa-france.com/deontologie.html">http://www.afa-france.com/deontologie.html</a>.</p>

	<div class="text-primary">Modification des conditions générales d'utilisation</div>
	<p class="text-muted" style="text-align:justify;">
	Les présentes CGU peuvent faire l'objet de modifications sans préavis. Néanmoins, en cas de modification majeure, une communication pourra éventuellement être affichée en page d'accueil du site.
	Les CGU peuvent notamment évoluer lors de l'ajout de services et fonctionnalités particulières, ou faire l'objet d'avenants via des Conditions Particulières d'Utilisation.
	</p>

	</div>

</div>