{{extend 'layout.html'}}

{{block content}}

        {{ for post in listposts:}}
            <div class="panel panel-default">
              <div class="panel-body">

                <span class="btn btn-raised btn-active"><span class="badge">{{=post['nb_vote']}}</span><br/>{{=T('Vote')}}</span>
                <span class="btn btn-raised btn-warning"><span class="badge">{{=post['nb_answer']}}</span><br/>{{=T('Answer')}}</span>
                <span class="btn btn-raised btn-default"><span class="badge">{{=post['nb_view']}}</span><br/>{{=T('View')}}</span>

                <span class="btn btn-raised btn-default">
                    <h2>{{=post['title']}}</h2>
                    {{=post['tag']}}
                </span>
                {{=post['date']}}
                {{=post['author']}}

                {{=post['point']}}

              </div>
            </div>
        {{pass}}

{{end}}
