{{extend 'layout.html'}}

{{block content}}

        {{ for post in listposts:}}
            <div class="panel panel-default">
              <div class="panel-body">

                <span class="btn btn-raised btn-primary">{{=T('Vote')}}<br/><span class="badge">{{=post['nb_vote']}}</span></span>
                <span class="btn btn-raised btn-warning">{{=T('Answer')}}<br/><span class="badge">{{=post['nb_answer']}}</span></span>
                <span class="btn btn-raised btn-primary">{{=T('View')}}<br/><span class="badge">{{=post['nb_view']}}</span></span>
                {{=post['title']}}
                {{=post['date']}}
                {{=post['author']}}
                {{=post['tag']}}
                {{=post['point']}}

              </div>
            </div>
        {{pass}}

{{end}}
